<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.kresnol">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity">
            android:label="Preferences"
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_title"></activity>
        <activity
            android:name=".HighScoreActivity"
            android:label="@string/title_activity_high_score"></activity>
         <activity
            android:name=".CreatePlayerActivity"
            android:label="@string/title_activity_сreate_зlayer">
             <intent-filter>
                 <action android:name="intent.action.create.player" />
                 <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>

         </activity>
    </application>

</manifest>